Repository enveng-group/dev_greenova: changes, and which pre-commit hooks are due for each by the changed paths.
All: safety-check, autopep8-aggressive, eslint, mypy-check, pylint-local

safety-check:
  name: Safety dependency checker
  entry: bash -c 'pip install safety && safety check --ignore 65278,66704,65212,65647,62556,62044,75180'
  language: system
  pass_filenames: false

autopep8-aggressive:
  name: autopep8 (aggressive)
  entry: autopep8
  language: system
  args:
  - --in-place
  - --aggressive
  - --aggressive
  - --aggressive
  - --max-line-length=88

eslint:
  name: eslint
  entry: npx eslint --fix
  language: system
  args:
  - --max-warnings=9999

mypy-check:
  name: mypy (script)
  language: python
  entry: bash -c 'export PYTHONPATH="/workspaces/greenova:/workspaces/greenova/greenova"; export DJANGO_SETTINGS_MODULE="tools.pre_commit.mock_settings"; mypy --config-file=mypy.ini "$@"' --
  additional_dependencies:
  - mypy==1.15.0
  - django-stubs==5.1.3
  ...

pylint-local:
  name: pylint (no django)
  entry: tools/pre_commit/patches/pylint_no_django.py
  language: script

Update configuration, linting, and tooling for improved development workflow
  .env.vault
  .envrc
  .github/.copilot-codeGeneration-instructions.md
  .github/.copilot-review-instructions.md
  .github/copilot-instructions.md
  .pre-commit-config.yaml
  .pylintrc-django
  .pylintrc-pre-commit
  .vscode/tasks.json
  docs/templates/commit-message-template.md
  greenova/obligations/management/commands/import_obligations.py
  greenova/settings/__init__.py
  mypy.ini
  tools/pre_commit/mock_settings.py
  tools/pre_commit/patches/pylint_no_django.py
  tools/pre_commit/patches/set_env.py
  tools/pre_commit/pre_commit_wrapper.py
  tools/scripts/run_mypy.py
  tools/scripts/run_mypy.sh
Due: safety-check, autopep8-aggressive, mypy-check, pylint-local

Update issue templates and add project planning documents
  .github/prompts/github-issue.prompt.md
  PLAN.md
  docs/templates/github-issue-template.md
  notes.txt
Due: none

Update documentation and configuration files for improved project setup
  .github/prompts/technical-writing.prompt.md
  .pre-commit-config.yaml
  docs/project/container_environment.md
  docs/project/ui_design_and_styling.md
  docs/resources/config/data/protobuf.md
  docs/resources/config/dotenv.md
  docs/resources/css/pico.md
  docs/resources/git/git-repository-management.md
  docs/resources/js/htmx.md
  docs/resources/py/django/django-debug-toolbar.md
  greenova/obligations/templates/obligations/layouts/crud_base.html
Due: none

Update .env.vault
  .env.vault
Due: none

dd global breadcrumb navigation and unify styles
  greenova/company/views.py
  greenova/core/templates/core/components/breadcrumbs.html
  greenova/dashboard/views.py
  greenova/static/css/components/breadcrumbs.css
  greenova/templates/base.html
  greenova/users/views.py
Due: safety-check, autopep8-aggressive, mypy-check, pylint-local

Update greenova/templates/base.html
  greenova/templates/base.html
Due: none

chore: update development environment configuration and linting settings
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  .vscode/settings.json
  eslint.config.js
Due: eslint

chore: add GitHub CLI to Dockerfile and streamline VSCode extensions list
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

Update Tailwind CSS styles and build script
  greenova/static/css/tailwind.css
  greenova/theme/static_src/build-tailwind.js
Due: eslint

Refactor repository management scripts
  .github/prompts/gpt-4o.prompt.md
  scripts/cleanup_git_conflict_markers.sh
  scripts/commit_diff.fish
  scripts/consolidated_repository_management.fish
  scripts/file_diff.fish
  scripts/git_repository_health_check.fish
  scripts/pre_merge_PR_check.fish
  scripts/pre_merge_PR_check.pseudo
Due: none

# Squash Merge Commit Message
  .env.vault
  .github/prompts/gpt-4o.prompt.md
  docs/templates/commit-message-template.md
  scripts/pre_merge.fish
Due: none

feat(auditing): add audit entry generation and mitigation structure
  greenova/auditing/admin.py
  greenova/auditing/models.py
  greenova/auditing/test_auditing.py
  greenova/auditing/tests.py
  greenova/obligations/admin.py
Due: safety-check, autopep8-aggressive, mypy-check, pylint-local

Signed-off-by: Cameron Sims <camissacsims@gmail.com>
  .pre-commit-config.yaml
  greenova/db.sqlite3-shm
  greenova/db.sqlite3-wal
  greenova/greenova/settings.py
  greenova/greenova/urls.py
  greenova/procedures/figures.py
  greenova/procedures/templates/procedures/procedure_charts.html
  greenova/procedures/urls.py
Due: safety-check, autopep8-aggressive, mypy-check, pylint-local

Signed-off-by: Cameron Sims <camissacsims@gmail.com>
  .pre-commit-config.yaml
  greenova/db.sqlite3-shm
  greenova/db.sqlite3-wal
  greenova/greenova/settings.py
  greenova/greenova/urls.py
  greenova/procedures/figures.py
  greenova/procedures/plotlyapp.py
  greenova/procedures/templates/procedures/procedure_charts.html
  greenova/procedures/urls.py
  greenova/procedures/views.py
Due: safety-check, autopep8-aggressive, mypy-check, pylint-local

Consolidate and optimize devcontainer and requirements files
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-bake.hcl
  .devcontainer/docker-compose.yml
  .devcontainer/entrypoint.sh
  .github/workflows/pylint.yml
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  docs/resources/snyk_devcontainer_fix.md
  greenova/tests/test_company.py
  greenova/tests/test_obligations.py
  greenova/tests/test_procedures.py
  greenova/tests/test_templates.py
  greenova/tests/test_user.py
  pyproject.toml
  requirements/DELETION_NOTICE.txt
  requirements/DEPRECATED_FILES.txt
  requirements/INSTALL.txt
  requirements/LEGACY_FILES_REMOVAL_PLAN.txt
  requirements/README_LEGACY.txt
  requirements/README_MIGRATION.txt
  requirements/constraints.txt
  requirements/dev.in
  requirements/dev.txt
  requirements/prod.in
  requirements/prod.txt
  requirements/requirements-dev.in
  requirements/requirements-dev.txt
  requirements/requirements-prod.txt
  requirements/requirements.in
  requirements/requirements.txt
  todo.txt
Due: safety-check, autopep8-aggressive, mypy-check, pylint-local

Signed-off-by: Cameron Sims <camissacsims@gmail.com>
  .pre-commit-config.yaml
  greenova/mechanisms/figures.py
  greenova/mechanisms/templates/mechanisms/mechanism_charts.html
  greenova/mechanisms/views.py
  greenova/procedures/figures.py
  greenova/procedures/views.py
  greenova/responsibility/figures.py
Due: safety-check, autopep8-aggressive, mypy-check, pylint-local

implement status propagation from corrective actions to audit entry
  greenova/auditing/admin.py
  greenova/auditing/models.py
Due: safety-check, autopep8-aggressive, mypy-check, pylint-local

fix(deps): remove optional 'toml' extra from coverage to fix install error
  requirements/constraints.txt
Due: none

test: verify SSH signing functionality
  .devcontainer/local-features/dropbear/install.sh
  .devcontainer/local-features/dropbear/ssh-keygen-wrapper.py
  .dotfiles/.gitconfig
  README.md
Due: safety-check, autopep8-aggressive, mypy-check, pylint-local

chore: Remove debug logging from ssh-keygen wrapper
  .devcontainer/local-features/dropbear/ssh-keygen-wrapper.py
Due: safety-check, autopep8-aggressive, mypy-check, pylint-local

test: verify improved SSH signature format compatibility
  test_signature.md
Due: none

test: verify SSH signing wrapper with --no-verify
  .devcontainer/local-features/dropbear/ssh-keygen-wrapper.py
  test_fix.md
  test_signing_fix.md
Due: safety-check, autopep8-aggressive, mypy-check, pylint-local

test: debug SSH signature verification
  .devcontainer/local-features/dropbear/ssh-keygen-wrapper.py
  debug_test.md
  test_data.txt
  test_data.txt.sig
Due: safety-check, autopep8-aggressive, mypy-check, pylint-local

Test commit with --no-verify flag
  .devcontainer/local-features/dropbear/ssh-keygen-wrapper.py
  requirements.txt
  test_commit.txt
  test_signing.txt
  test_signing.txt.sig
Due: safety-check, autopep8-aggressive, mypy-check, pylint-local

Test signed commit functionality
  test_signed.txt
Due: none

Test improved SSH signature verification
  test_commit.txt
  test_data.txt
  test_data.txt.sig
  test_fix.md
  test_signature.md
  test_signed.txt
  test_signing.txt
  test_signing.txt.sig
  test_signing_fix.md
  test_verification.txt
Due: none

Test updated verification with stdin support
  test_stdin_verification.txt
Due: none

git ssh signature verification compatibility wrapper stills needs more work but it is getting there
  .devcontainer/local-features/dropbear/ssh-keygen-wrapper.py
Due: safety-check, autopep8-aggressive, mypy-check, pylint-local

Selective merge from b6f5328e: refactor dashboard, templates, and docs
  .markdownlint-cli2.jsonc
  greenova/core/README.rst
  greenova/dashboard/templates/dashboard/dashboard.html
  greenova/dashboard/views.py
  greenova/greenova/settings.py
  greenova/landing/templates/landing/index.html
  greenova/templates/base.html
  greenova/templates/base_minimal.html
Due: safety-check, autopep8-aggressive, mypy-check, pylint-local

chore(core): update prompts, docs, and cleanup files
  .github/prompts/automated-pr-review-and-merge-strategy.prompt.md
  .github/prompts/merge-strategy.prompt.md
  .github/prompts/prompt-generation-script.txt
  .markdownlint-cli2.jsonc
  docs/resources/git/comparing-changes-between-origin-and-upstram.md
  docs/resources/git/git-repository-management.md
  docs/resources/git/merge-instructions.txt
  docs/resources/git/merging.md
  logs/.gitkeep
  test_stdin_verification.txt
  test_verification.txt
  todo.txt
  tools/merge_conflict_detector-/merge-conflict-detector
Due: none

refactor(merge_conflict_detector): rename misplaced tool directory
  tools/merge_conflict_detector/CONTRIBUTING
  tools/merge_conflict_detector/INSTALL
  tools/merge_conflict_detector/LICENSE
  tools/merge_conflict_detector/Makefile
  tools/merge_conflict_detector/README
  tools/merge_conflict_detector/SECURITY
  tools/merge_conflict_detector/USAGE
  tools/merge_conflict_detector/data/analysis_history.dat
  tools/merge_conflict_detector/data/conflict_patterns.dat
  tools/merge_conflict_detector/data/repository_config.dat
  tools/merge_conflict_detector/data/risk_rules.dat
  tools/merge_conflict_detector/man/maintenance.sh.1
  tools/merge_conflict_detector/man/merge_detector.1
  tools/merge_conflict_detector/merge-conflict-detector
  tools/merge_conflict_detector/scripts/maintenance.sh
  tools/merge_conflict_detector/src/analyzer.awk
  tools/merge_conflict_detector/src/conflict_report.awk
  tools/merge_conflict_detector/src/data_manager.awk
  tools/merge_conflict_detector/src/main.c
  tools/merge_conflict_detector/src/merge_detector.c
  tools/merge_conflict_detector/tests/debug_complex_test.sh
  tools/merge_conflict_detector/tests/file1.txt
  tools/merge_conflict_detector/tests/file2.txt
  tools/merge_conflict_detector/tests/run_tests.sh
  tools/merge_conflict_detector/tests/simple_test.sh
  tools/merge_conflict_detector/tests/test.txt
  tools/merge_conflict_detector/tests/test_analyzer.sh
  tools/merge_conflict_detector/tests/test_debug.c
  tools/merge_conflict_detector/tests/test_framework.sh
  tools/merge_conflict_detector/tests/test_integration.sh
  tools/merge_conflict_detector/tests/test_maintenance.sh
  tools/merge_conflict_detector/tests/test_merge_detector.sh
  tools/merge_conflict_detector/tests/test_simple.c
Due: none

Path conditions:
  safety-check: any of: \.py$
  autopep8-aggressive: any of: \.py$, but not: migrations/
  eslint: any of: \.(js|mjs|cjs)$
  mypy-check: any of: \.py$, but not: migrations/|settings.py|\\.git/|\\.mypy_cache/|\\.pytest_cache/
  pylint-local: any of: \.py$, but not: migrations/
